/*******COLORS********/

/**primary**/
$primary-desaturated-red: hsl(0, 36%, 70%);
$primary-soft-red: hsl(0, 93%, 68%);

/**Neutral**/
$neutral-dark-greyish-red: hsl(0, 6%, 24%);

/*font-size*/
$f-normal: 16px;
$f-large: 40px;

/*font-weight*/
$fw-light: 300;
$fw-medium: 600;
$fw-heavy: 700;

/*Media queries*/
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$ff-Josefin-Sans: "Josefin Sans", sans-serif;
