.header-logo {
  width: 100px;
  height: 21px;
  margin: 32px auto 32px 32px;

  @include large {
    display: none;
  }
}

.container__left-logo {
  display: none;

  @include large {
    display: block;
    margin: 30px auto 0 30px;
  }
}

.container__left__box {
  form {
    .error-icon {
      display: inline-block;
      position: absolute;
      right: 85px;
      top: 10px;
      display: none;
    }
  }

  .error-message {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: red;
    display: none;
  }
}

.container__left__box form.error .error-icon {
  display: block;
}

.container__left__box form.error .error-message {
  display: block;
}
